.eliminar{
    margin: 1% auto auto 2%;
    padding: 5px 10px;
    cursor: pointer;
    background: rgb(2, 32, 2);
    border: 3px solid rgb(11, 70, 11);
    border-radius: 5px;
    color: rgb(151, 245, 139);
    font-size: 1.2rem;
    &:hover{
        background: rgb(11, 70, 11);
    }
    display: flex;
}